@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Unna:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.josefinFont{
    font-family: 'Josefin Slab', serif;
}


.unnaFont{
    font-family: 'Unna', serif;
}

.cinzelFont{
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
}

.ralewayFont{
    font-family: 'Raleway', sans-serif;

}


