<div class="container">
    <table class="uk-table uk-table-justify uk-table-divider">
       
        <tbody>
            <tr>
                <td>Table Data</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                <td width="150">

                    <div class="quantity">
                        <a class="plus-btn" type="button" name="button">
                            <span uk-icon="plus"></span>
                        </a>
                        <input type="text" name="name" value="1">
                        <a class="minus-btn" type="button" name="button">
                            <span uk-icon="minus"></span>
                        </a>
                      </div>

                </td>
                <td><button class="uk-button uk-button-default" type="button">Button</button></td>
            </tr>
            <tr>
                <td>Table Data</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                <td></td>
                <td><button class="uk-button uk-button-default" type="button">Button</button></td>
            </tr>
        </tbody>
    </table>

    
</div>


<div class="container-fluid">
    <div class="navbar fixed-bottom ">

        <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Button</button>


    </div>
</div>



